body {
    margin: 0;
    background-size: cover;
    transition: all ease-in-out 0.3s;
    /*解决加载图片时留白的问题*/
}

.carousel {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 15px;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.1);
    position: absolute;
    bottom: 30%;
    left: 50%;
    transform: translateX(-50%);
    transition: all ease-in-out 0.3s;
}

.carousel:hover {
    cursor: pointer;
    background-color: rgba(255,255,255,0.3);
    transition: all ease-in-out 0.3s;
}

.imgContainer {
}

.selected {
    border: 4px solid rgba(255, 255, 255, 0.7) !important;
}

.searchBar {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 20%
}

#inputCity {
    border:none;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 /0.5);
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    background-color: rgba(225, 225,225, 0.6);
    opacity: 0.6;
    transition: all ease-in-out 0.3s;
    color: black;
    outline: 1px solid grey;
}

#inputCity:focus {
    outline: 1px solid #6e6e6e;
    box-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
    transition: all ease-in-out 0.3s;
}

#inputCity:hover {
    opacity: 1;
    outline: 1px solid #6e6e6e;
    transition: all ease-in-out 0.3s;
}

#btnSearch {
    border:none;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 /0.5);
    padding: 10px;
    margin: 0 10px;
    font-size: 14px;
    border-radius: 20px;
    background-color: rgba(225, 225,225, 0.6);
    opacity: 0.6;
    transition: all ease-in-out 0.3s;
    color: black;
    outline: 1px solid grey;

}

#btnSearch:hover {
    opacity: 0.8;
    transition: steps(1.2);
    cursor: pointer;
}

.gallery {
    display: flex;
    flex-direction: row;
}

.gallery div {
    margin: 0 5px;
    width: 130px;
    height: 95px;
    border-radius: 10px;
    background-size: cover;
    border: 1px solid rgba(200, 200, 200, 0.3);
    transition: all ease-in-out 0.3s;
    /*opacity: 0.8;*/
    opacity: 0;
}

.gallery div:hover {
    z-index: 2;
    transform: scale(1.2) translateY(-20px);
    border: 1px solid rgba(200, 200, 200, 0.3);
    transition: all ease-in-out 0.3s;
    opacity: 1;
    cursor: pointer;
}

.nav {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%) translateX(-15px);
    display: flex;
    justify-content: space-between;
}

.btnNav {
    background-color: rgba(81, 81, 81, 0.4);
    color: rgba(134, 134, 139, 0.9);
    border: none;
    outline: none;
    font-weight: 600;
    font-size: 25px;
    transition: all ease 0.3s;
    z-index: 2;
}

.btnNav:hover {
    cursor: pointer;
    background-color: rgba(210, 210, 215, 0.7);
    transition: all ease 0.3s;
}

/*定义动画过程*/
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(0);
    }
    50% {
        opacity: 0.5;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


